@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new machine</h4>
<hr />

<p>@Html.ValidationMessageFor(model => model.MachineType, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  <p>Machine Type: @Html.TextBoxFor(model => model.MachineType, new { required = "required" })</p>
  

  <p>Last Serviced: @Html.TextBoxFor(model => model.LastServiced, new { required = "required" })</p>
  

  <p>How old is this machine? @Html.TextBoxFor(model => model.Age, new { required = "required" })</p>

  <p>Description: @Html.TextBoxFor(model => model.MachineDescription, new { required = "required" })</p>

  <input type="submit" value="Add new engineer"/>
}
<br>
<p>@Html.ActionLink("Show all engineers", "Index")</p>